<body id="page-top" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>Shipnado
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li [appScrollSpyFor]="'page-top'" class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li [appScrollSpyFor]="'play'">
                        <a class="page-scroll" href="#play">Play</a>
                    </li>
                    <li [appScrollSpyFor]="'about'">
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li [appScrollSpyFor]="'contact'">
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Shipnado</h1>
                        <p class="intro-text">Let's start your own Sea Battle. Don't take prisoners. Show no mercy!</p>
                        <a href="#play" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Play Section -->
    <section id="play" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Play Shipnado</h2>
                <p><app-log-in></app-log-in></p>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section> 

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Shipnado</h2>
                <p>Free game to kill boredum.</p>
                <p>Project were created to get to know possibilities of Angular framework and Spring framework.</p>
            </div>
        </div>
    </section>
    
        <!-- contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>In case of questions and suggestions please use the <a href="mailto:apoklade@gmail.com">E-mail.</a></p>
                <p>AP-SOFTWARE - find us in country Poland in city Wroc&#322;aw.</p>
                <p>Simply, it's area number one on the Earth.</p>
            </div>
        </div>
    </section> 
</body>
