<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<form (ngSubmit)="onSubmit()" #logInForm="ngForm">
			<div class="form-group">
				<label for="username">Type Your Username</label>
				<input type="text" class="form-control" [ngClass]="{loading: isWaitingForUsernameConfirmation}" id="username"
					required					
					[(ngModel)]="user.username" name="username"
					#username="ngModel"
					(ngModelChange)="onKey($event)"
				>
				<div [hidden]="( usernameValid) || username.pristine"
				class="alert alert-danger">
				{{usernameFeedback}}
				</div>
			</div>
			<button type="submit" class="btn btn-default" [disabled]="!logInForm.form.valid || !usernameValid || isWaitingForUsernameConfirmation">Join game</button>
		</form>
	</div>
</div>